<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diagnose Machine</title>
    <link rel="stylesheet" type="text/css" href="{% static 'diagnose.css' %}">
</head>
<body>
    <label class="custom-select" for="styledSelect1"><select id="styledSelect1" name="options">
        <option value="">
        Select an option
        </option>
        <option value="1">
        Option 1
        </option>
        <option value="2">
        Option 2
        </option>
        <option value="3">
        Option 3
        </option>
        <option value="4">
        Option 4
        </option>
        <option value="4">
        Option 5
        </option>
        <option value="4">
        Option 6
        </option>
        <option value="4">
        Option 7
        </option>
        <option value="4">
        Option 8
        </option>
        <option value="4">
        Option 9
        </option>
    </select></label>
</body>
</html>